<h2>Welcome to pizza shop!</h2>

<div class="row">
	<% @product.each do |p| %>
		<div class="col-md-3">
			<div ><%= p.title %></div>
			<div ><img src="<%= p.path_to_image %>" width="245rem" /></div>
			<div><%= p.description %></div>
			<div><%= p.description %></div>
			<div><%= p.description %></div>
		</div>
	<% end %>
</div>
<br />
<br />
<button class="btn btn-primary" onclick="something()">Click me!!</button>


