<h2>Welcome to pizza shop!</h2>

<div class="row">
	<% @products.each do |p| %>
		<div class="col-md-3">
			<div ><%= p.title %></div>
			<div ><img src="<%= p.path_to_image %>" width="200rem" /></div>
			<div><%= p.description %></div>
			<div>Size: <%= p.size %></div>
			<div>Price: <%= p.price %></div>
			<div><button class="btn btn-success btn-sm" onclick="add_to_cart(<%= p.id %>)">Add to cart</button></div>
		</div>
	<% end %>
</div>
<br />
<br />


<div><button class="btn btn-success btn-sm" onclick="list()">List</button></div>

<div><button class="btn btn-success btn-sm" onclick="test()">Test</button></div>


